@font-face{
    font-family: "nevis";
    src:url("/fonts/nevis.eot");
    src:url("/fonts/nevis.eot?#iefix") format("embedded-opentype"),
        url("/fonts/nevis.woff") format("woff"),
        url("/fonts/nevis.ttf") format("truetype"),
        url("/fonts/nevis.svg") format("svg");
    font-weight: normal;
    font-style: normal;    
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("./img/paven.png");
}

.header{
    width: 100%;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    background-color: #ccc;
    border-bottom: 10px;
}

.header a{
    text-decoration: none;
    color: #70b231;
    font-size: 40px;
    font-family: "nevis";
    letter-spacing: 4px;
    margin-top: 10px;
    font-weight: bold;
    text-shadow: 0px 1px 2px #333333;
}

.header a:hover{
    text-shadow: 0px 1px 1px #333333, 0px 2px 4px #70b231;
    color: #70b231;
}

#logo{
    display: block;
}

#logoHeader{
    width: 100px;
    height: 100px;
}

#titulo{
    height: 50px;
}

.menu{
    background-color: cadetblue;
    font-size: 20px;
    width: 100%;
    display: block;
}

.lista ul{
    list-style-type: none;
    padding-inline-start: 0px;
  }

.lista li{
    display:block;
    float: left;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.lista li:hover{
    display:block;
    float: left;
    padding: 10px;
    border-right: 1px solid #ccc;
    background-color: #ccc;
}  

a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: white;
}
aside{
    display: block;
    float: right;
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
}

section{
    display: block;
    float: left;
    width: 68%;
    background-color: darkgray;
}

.caja{
    border: 1px solid black;
    width: 40%;
    height: 200px;
    float: left;
    margin: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.clear{
   display: block; 
   clear: both;
}

footer{
    float: none;
    display: block;
    width: 100%;
    background-color: #444444;
    text-align: left;
    height: 50px;
    font-size: 18px;
    text-indent: 30px;
    line-height: 50px;
}